{% macro manual_navbar(items, search=False) %}
  <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-3 col-sm-3 col-md-2 mr-1"
       href="#document-root">
      <img class="img-fluid" alt="{{ logo_txt }}"
           src="data:{{ logo_img_type }};base64,{{ logo_img }}" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#main-navbar" aria-controls="main-navbar"
            aria-expanded="false" aria-label="Toggle main-navbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {%- for name, href, icon, classes in items %}
          <li class="nav-item">
            <a class="nav-link {{ classes | join(' ') }}" href="#{{ href }}">
              {%- if icon %}<span data-feather="{{ icon }}"></span>{%- endif %}
              {{ name }}
            </a>
          </li>
        {%- endfor %}
      </ul>
      {%- if search %}
        <div class="my-2 my-lg-0">
          <input id="navbar-search" class="form-control-sm mr-sm-2"
                 type="search" placeholder="Search" aria-label="Search">
        </div>
      {%- endif %}
    </div>
  </nav>
{%- endmacro %}
